on: [push]

jobs:
  build-and-deploy:
    runs-on: docker.io/nginx:latest
    steps:
    - uses: actions/checkout@main
    
    - uses: Azure/docker-login@v1
      with:
        login-server: contoso.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    
    - uses: Azure/k8s-deploy@v1.4
      with:
        manifests: |
          dev.yml
        images: |
          'tntaksreg.azurecr.io/sample:latest'
