on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: azure/k8s-set-context@v1
      with:
        method: service-account
        k8s-url: https://atos-tra-pla-cluster-dns-d22f6440.hcp.eastus.azmk8s.io:443
        k8s-secret: ZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNklsb3dXRUZDTWpsaWEzbHNRWFZJV1VSWVdYQm9SVGs1TkcxVWNuazVlVmxTWlhkRmVUTm1lV3BqZDBraWZRLmV5SnBjM01pT2lKcmRXSmxjbTVsZEdWekwzTmxjblpwWTJWaFkyTnZkVzUwSWl3aWEzVmlaWEp1WlhSbGN5NXBieTl6WlhKMmFXTmxZV05qYjNWdWRDOXVZVzFsYzNCaFkyVWlPaUprWlhZaUxDSnJkV0psY201bGRHVnpMbWx2TDNObGNuWnBZMlZoWTJOdmRXNTBMM05sWTNKbGRDNXVZVzFsSWpvaWMyRnRjR3hsTFdSbGNHeHZlUzEwYjJ0bGJpMXlOR3B4ZHlJc0ltdDFZbVZ5Ym1WMFpYTXVhVzh2YzJWeWRtbGpaV0ZqWTI5MWJuUXZjMlZ5ZG1salpTMWhZMk52ZFc1MExtNWhiV1VpT2lKellXMXdiR1V0WkdWd2JHOTVJaXdpYTNWaVpYSnVaWFJsY3k1cGJ5OXpaWEoyYVdObFlXTmpiM1Z1ZEM5elpYSjJhV05sTFdGalkyOTFiblF1ZFdsa0lqb2lPVE15WldJMlptSXRZamMyTVMwMFpEVXlMVGcxT0dNdE9EUTJORFV3TVRBM1l6WTRJaXdpYzNWaUlqb2ljM2x6ZEdWdE9uTmxjblpwWTJWaFkyTnZkVzUwT21SbGRqcHpZVzF3YkdVdFpHVndiRzk1SW4wLnBydmNTY0s0dXE0aURxZWt4aW5jMVdKV18xMHJhRHlGS3RTQ0ZLZFNCWjFNZl9mLUFOcEN0bXpqd0pEaTdRcWI0UURsb0dlQTRfRkw2OUdjX0RZeVF4YnJic2RKNGMtSklfaDRRQnVPZ0pBUk8xamV3M19qanVjdWg4LU9CU085NkJFaXpjUmdXcnBDeUZwVGdDM2k2SzlGVUJMeHB2RTlleGdqc2o5S0c2cm1uSzZZUFhqdXdSYlpvNmpCUGRUeUtydG9FbGhMOXlNUUtvaXV1TnRDV2NhWHk1c3lNY3hIVXZiMU1tOTdieTVFZ2h4TUZmMzlSNDBUVTZUSnRBU2RuVEpZbWtoX0ozVmE0a2tPZTVIRlZvRG1BcTJOMVdTbWlucU4zTE9FY0Y2VW5fTGxwcHBrTHpfZVY1ZzlvSFRVOWRMNzUtY2c3OVVOSDB2dG93WWJlbVBydHlQck11SzQ1a1V1TmZsdEszV280TTNlQlktd2xQQldfMUR2azFYdWxzQk5oR18tZ2tXaEhlTVNqVDltZ2tQdUhYbUZqQkFJMnVQMnZfdEpzWlNFdXpZcF9CTGFVYmZYdDNrUGo0RTZuSkprWDRabEtvTWRWNG9hdzdEa25hREhzUkdVZUdiVkhjcXhuU1NVdFU3RWstQU5yR3U1aWN0ZXBCbjJmZmVDRWRXdllvTktBTjg3TUhsS2ozYTZ6VmpMZFI1RV9na0ljQlFSV3hkUnNGYVdlVzhiM2UtVzdMVlUteU1CbklpVVcybDZTVDRoNk5xd0R2dTNQV3RhbGRwel9FS0RyZVE1Z1FXcVBpRDZWcndadTVZQnZNTE1nMmc3V2RBRDJoU3R2V3hvRFlyUXo4SS14d2s2a2NGM29PSTlVb2F1LU9CVXpVbVlNWFdMWnJV
      id: setcontext
    - uses: Azure/k8s-deploy@v1.4
      with:
        namespace: 'dev'
        manifests: |
            dev.yaml
