on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
  
    - uses: Azure/k8s-deploy@v1.4
      with:
        namespace: 'dev'
        manifests: |
            dev.yaml
