on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - uses: azure/k8s-set-context@v1
      with:
        method: service-account
        k8s-url: https://atos-tra-pla-cluster-dns-d22f6440.hcp.eastus.azmk8s.io:443
        k8s-secret: ZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNklsb3dXRUZDTWpsaWEzbHNRWFZJV1VSWVdYQm9SVGs1TkcxVWNuazVlVmxTWlhkRmVUTm1lV3BqZDBraWZRLmV5SnBjM01pT2lKcmRXSmxjbTVsZEdWekwzTmxjblpwWTJWaFkyTnZkVzUwSWl3aWEzVmlaWEp1WlhSbGN5NXBieTl6WlhKMmFXTmxZV05qYjNWdWRDOXVZVzFsYzNCaFkyVWlPaUprWldaaGRXeDBJaXdpYTNWaVpYSnVaWFJsY3k1cGJ5OXpaWEoyYVdObFlXTmpiM1Z1ZEM5elpXTnlaWFF1Ym1GdFpTSTZJbVJsWm1GMWJIUXRkRzlyWlc0dFpHWjNlbWNpTENKcmRXSmxjbTVsZEdWekxtbHZMM05sY25acFkyVmhZMk52ZFc1MEwzTmxjblpwWTJVdFlXTmpiM1Z1ZEM1dVlXMWxJam9pWkdWbVlYVnNkQ0lzSW10MVltVnlibVYwWlhNdWFXOHZjMlZ5ZG1salpXRmpZMjkxYm5RdmMyVnlkbWxqWlMxaFkyTnZkVzUwTG5WcFpDSTZJakE0WVRReU9EY3lMVFJqT0RVdE5EQTNNeTFoTVRJeExUUmtaVGsxTWpRd1kySmtNQ0lzSW5OMVlpSTZJbk41YzNSbGJUcHpaWEoyYVdObFlXTmpiM1Z1ZERwa1pXWmhkV3gwT21SbFptRjFiSFFpZlEuZ19RdWEzMDljbktQRHV3OHpHamRtREFDYmZSdXEzU3NGQlFraTFzV2hLclRVRnI3TUdPRnFoX0pBWTYxUl9DT0sxZk1lcnU3U0w1TWZRMkp2QTBBcW1vNUxZUWFremtoSXlVeFRad1BxVWQxR2w4VlhHLXBLR1J6ZXBJNFF2T1hUbE1RVjYtQjdTWjhRM2JNbEhkVU9kcmhfTS1sNVVxV3Y3UmNFS3NrTjBHd2x5MXpkRTNVcXJqTF9ZdVZTcmhKbkZacXZsSjJWbWVDMDVaQXRCM0gzbHJ1V1pGUTJfQXViT3JoOHJHN1AwSVV3VVFKM0NIZVRYU01ZaGVMeXV3SUFjdUUxZmF4QzUzV25YWVRoTGFGSXBQaUlENVdPemYyLTZkRmFkVzd3cHJPNzFhUlFYejRxOVc4S2U5ZWE3cGZneVVMNmNONmt1U0lseGc0Y1hDTG1Zc0ZuakVXc1pYVjBvWDhPV210OTVBMjFqNjd3MW9wc0l3MTFBQ1FlS21neW52MkdzX0JnUzJNRGFXTkwwUFFaWW5iQXFCU0dFMWlXWUxsNDVrNG5fc0lkMXJWMEtYemZETGYtUjZTamdRNXhRbURLTDRGc1RPVWpYSjVCRWJFZTI5cXRnNWYwa1MzLVc0WTFtcGEtSVpJNlJPNG9DakVyVlhiRjlKNXc0cUdidFZTc1h4Ul94WWNfbDFuME1HVTJXWC11WlNtd0NKTDYzUDhPRTJxanFtaDFqQTRDNXJELXN0NFV0aVV4djltREJVWkY1ZXpwdE1laTFMSXdOVE9KRHdiM1VxTEZZdzdiRzhUVHM5eUhKVFg2bGxVdFVJT0RxbXVjdUVqMW8yZ3lRMHczU1ZpNlBlNlprWi01cFJLWlp3U3d5MWhiQWJ3WE5fYlk3ZTVCVkE=
      id: setcontext
    - uses: Azure/k8s-deploy@v1.4
      with:
        namespace: 'dev'
        manifests: |
            dev.yaml
