on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    
    - uses: azure/k8s-set-context@v1
      with:
        method: service-account
        k8s-url: https://atos-tra-pla-cluster-dns-d22f6440.hcp.eastus.azmk8s.io:443
        k8s-secret: eyJhbGciOiJSUzI1NiIsImtpZCI6IlowWEFCMjlia3lsQXVIWURYWXBoRTk5NG1Ucnk5eVlSZXdFeTNmeWpjd0kifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJkZWZhdWx0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6InNhbXBsZS1kZXBsb3ktc2VjcmV0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InNhbXBsZS1kZXBsb3kiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiI3NTJkN2FmNC02MjZhLTRkYWQtYTI1Mi01MjMwMjljNTUxNDMiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6ZGVmYXVsdDpzYW1wbGUtZGVwbG95In0.adZQZZmmletvGfdQEInM7wg8pC9EufOcQ1yzPWSKeLokguHEJuOiznv2LYJBRruqrIi0xVa1n9jorv3yCyNIVvq91b4fy2D7Z41GIvxJHWZor-7a5OjaRfZZ0Ix9THboK9AC99dc-eHTQ0MUreQmnZGL3_kAcYxPBnUYYSxYbIjjS3ufgIE9uAudzwbyUAzKh3kamxo5xibLNAvpyEAQLZB4eegpKG8MLKJkgW-XSCs_muXCtW3i4PCdzUAZL1bPsDBSg863orHSJqBh-S7k4x89fEjZH1uXjTyn6SBNzskhpyPHyaTxiw9rJY9_Gi6uCfVQq0Cl7GrqJTG4UIG5Rsb6XceG10MgL9Az5e59aEsqo5Q94Y1MtufATGdORblAeSUsmql9VXUQyqRWXy7Ge43mCUZlsa1FvKaQGW_N3W-TtVbYF3w_OuVEv1gq8z-3NPCU1UVfcKj_0IpxB5VOsNrHGWONvJbNXNjYFph5I2a4QI8KEqlgTS2h2q2SGD0Qa4uElr7CI1EklZ0ch2w_QnopR1JE-C9T8gPTNx9ciXnJyL486Qqkw4Ef2HcnxlUlObt6je8zrCZ3wd77ZNLAVqa5lfd0T1LbxdGzCvw3R6eET0JEYyaymEnVtLfaXDr73TfeeLb6B9q0JH7AM2NBXTDRnAtRZfHVZiketZnxL40
      id: sample-deploy
  
    - uses: Azure/k8s-deploy@v1.4
      with:
        namespace: 'dev'
        manifests: |
            dev.yaml
        images: 'tntaksreg.azurecr.io/sample:latest'
        kubectl-version: 'latest'
