on: [push]

jobs:
  build-and-deploy:
    runs-on: docker.io/nginx:latest
    steps:
    - uses: actions/checkout@main
   
    - uses: Azure/k8s-deploy@v1.4
      with:
        manifests: |
          dev.yml
        images: |
          'tntaksreg.azurecr.io/sample:latest'
